<section class="section rad-animation-group pb-20 pt-20 section--border-bottom" id="about">
  <div class="container rad-fade-down">
      <div class="row d-flex flex-column-reverse flex-md-row">
          <div class="about__profile-picture col-12 col-md-6">
              <img src="../../../assets/img/03_freelancer.svg" alt="" class="lozad img-responsive image-left-overflow">
          </div>
          <div class="col-12 col-md-6 my-auto my-auto">
              <h2>¿Qué hacemos?</h2>
              <!-- <p class="lead"> -->
                  <p class="lead"> <strong>Me apasiona la construcción de conocimiento complejo para resolver problemas concretos de la gente y sus organizaciones.</strong> Encontré en la programación un poderosa herramienta de desarrollo para complementar la expertisse
                      profesional de la sociología, e interactuar, operativamente, con otros actores dinámicos del mundo digital. </p>
                          <p class="lead"> En los momentos de ocio disfruto de hacer deporte (correr y nadar mis favs), jugar videjuegos y producir música para proyectos audivisuales independientes. </p>
              <!-- </p> -->
              <a href="https://www.linkedin.com" target="_blank" class="btn btn-primary">
    <i class="icon-smile-fill"></i>
    Sobre mí
  </a>
          </div>
      </div>
  </div>
</section>
